<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874687571084-62f69mupmu6jb86g57knkog5pok15nlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874687571084-62f69mupmu6jb86g57knkog5pok15nlt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>874687571084-qc14vkpp279k4shk71d1k2s2d4jkmue2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgUNuC4ihcUbp0uYGf07ldKVTMIy84lp4</string>
	<key>GCM_SENDER_ID</key>
	<string>874687571084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>we-chat-f28bc</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-f28bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874687571084:ios:a5914a4b73438afdb987a9</string>
</dict>
</plist>